<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index ejs</title>
</head>
<body>
    <h1>index ejs  bro</h1>
    <form action="/result" method = "POST">
        <p>Name: <input type="text" name = "name"></p>
        <p>Location:<select name="location" id="">
            <option value="Mountain View">Mountain View</option>
            <option value="Burbank">Burbank</option>
            <option value="Mars">Mars</option>
            <option value="Jupiter">Jupiter</option>
        </select></p>
        <p>Favorite Language:<select name="favorite" id="">
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
            <option value="C">C</option>
            <option value="Java">Java</option>
        </select></p>
        <p><textarea rows="4" cols="50" name="comment">Comment (optional)</textarea></p>
        <input type="submit" value ="obey">        

    </form>
</body>
</html>