<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results ejs</title>
</head>
<body>

    <h1>Submitted Results: </h1>
    <p>Name: <%= context.name %></p>
    <p>Dojo Location: <%= context.location %></p>
    <p>Favorite Language: <%= context.favorite %></p>
    <p>Comment: <%= context.comment %></p>
   
    <a href="/"><button>Go Back</button></a>
</body>
</html>